<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Shortname</th>
      <th>Contact</th>
      <th>Contactemail</th>
      <th>Contactphone</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.fullname %></td>
        <td><%= team.shortname %></td>
        <td><%= team.contact %></td>
        <td><%= team.contactemail %></td>
        <td><%= team.contactphone %></td>
        <td><%= link_to 'Show Team', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
