<p id="notice"><%= notice %></p>

<h1>Goalies</h1>

<table>
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Player ID</th>
      <th>Time played</th>
      <th>Goals against</th>
      <th>Win</th>
      <th>Loss</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @goalies.each do |goalie| %>
      <tr>
        <td><%= goalie.game_id %></td>
        <td><%= goalie.player_id %></td>
        <td><%= goalie.time_played %></td>
        <td><%= goalie.goals_against %></td>
        <td><%= goalie.win %></td>
        <td><%= goalie.loss %></td>
        <td><%= link_to 'Show', goalie %></td>
        <td><%= link_to 'Edit', edit_goalie_path(goalie) %></td>
        <td><%= link_to 'Destroy', goalie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New goalie', new_goalie_path %>
