<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @goalie.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @goalie.player_id %>
</p>

<p>
  <strong>Time played:</strong>
  <%= @goalie.time_played %>
</p>

<p>
  <strong>Goals against:</strong>
  <%= @goalie.goals_against %>
</p>

<p>
  <strong>Win:</strong>
  <%= @goalie.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @goalie.loss %>
</p>

<%= link_to 'Edit', edit_goalie_path(@goalie) %> |
<%= link_to 'Back', goalies_path %>
