<p id="notice"><%= notice %></p>

<p>
  <strong>Time played:</strong>
  <%= @goaly.time_played %>
</p>

<p>
  <strong>Goals against:</strong>
  <%= @goaly.goals_against %>
</p>

<p>
  <strong>References:</strong>
  <%= @goaly.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @goaly.references %>
</p>

<%= link_to 'Edit', edit_goaly_path(@goaly) %> |
<%= link_to 'Back', goalies_path %>
