<p id="notice"><%= notice %></p>

<h1>Games</h1>

<%= @games.each do |game| %>
<div class="gamebox">
  <div class="gameboxHeader">
    <%= game.date %>&#8196;<%= game.time %>
  </div>
  <table>
    <tr>
      <td class="gbTeam"><%= game.awayshort %></td>
      <td align="right" class="gbTeam"><%= game.awayscorefinal %></td>
    </tr>
    <tr>
      <td class="gbTeam"><%= game.homeshort %></td>
      <td align="right" class="gbTeam"><%= game.homescorefinal %></td>
    </table>
    <div class="gbFooter">
      <div class="gbFootItem">
        <%= game.status%></p>
      </div>
      <div class="gbFootItem">
        <%= link_to 'Show', game %>
      </div>
    </div>
  </div>
  <% end %>
