<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastname %>
</p>

<p>
  <strong>Full Name:</strong>
  <%= @player.fullname %>
</p>

<p>
  <strong>Jersey Number:</strong>
  <%= @player.jerseynumber %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<%= link_to 'Back', players_path %>
