<%= form_for(penalty) do |f| %>
  <% if penalty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(penalty.errors.count, "error") %> prohibited this penalty from being saved:</h2>

      <ul>
      <% penalty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period %>
    <%= f.number_field :period %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>

  <div class="field">
    <%= f.label :references %>
    <%= f.text_field :references %>
  </div>

  <div class="field">
    <%= f.label :player %>
    <%= f.text_field :player %>
  </div>

  <div class="field">
    <%= f.label :references %>
    <%= f.text_field :references %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
