<%= form_for(penalty) do |f| %>
  <% if penalty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(penalty.errors.count, "error") %> prohibited this penalty from being saved:</h2>

      <ul>
      <% penalty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %>
    <%= f.number_field :game_id %>
  </div>

  <div class="field">
    <%= f.label :player_id %>
    <%= f.number_field :player_id %>
  </div>

  <div class="field">
    <%= f.label :period %>
    <%= f.number_field :period %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :infraction %>
    <%= f.text_field :infraction %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :shorthanded %>
    <%= f.text_field :shorthanded %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
