<p id="notice"><%= notice %></p>

<h1>Penalties</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Period</th>
      <th>Time</th>
      <th>Infraction</th>
      <th>Duration</th>
      <th>Shorthanded</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @penalties.each do |penalty| %>
      <tr>
        <td><%= penalty.game_id %></td>
        <td><%= penalty.player_id %></td>
        <td><%= penalty.period %></td>
        <td><%= penalty.time %></td>
        <td><%= penalty.infraction %></td>
        <td><%= penalty.duration %></td>
        <td><%= penalty.shorthanded %></td>
        <td><%= link_to 'Show', penalty %></td>
        <td><%= link_to 'Edit', edit_penalty_path(penalty) %></td>
        <td><%= link_to 'Destroy', penalty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Penalty', new_penalty_path %>
