<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @penalty.game_id %>
</p>

<p>
  <strong>Player</strong>
  <%= @penalty.player_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @penalty.period %>
</p>

<p>
  <strong>Time:</strong>
  <%= @penalty.time %>
</p>

<p>
  <strong>Infraction:</strong>
  <%= @penalty.infraction %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @penalty.duration %>
</p>

<p>
  <strong>Shorthanded:</strong>
  <%= @penalty.shorthanded %>
</p>

<%= link_to 'Edit', edit_penalty_path(@penalty) %> |
<%= link_to 'Back', penalties_path %>
