<p id="notice"><%= notice %></p>
<%=  @goal.inspect %>
<p>
  <strong>Game:</strong>
  <%= @goal.game_id %>
</p>

<p>
  <strong>Team</strong>
  <%= @goal.team_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @goal.player_id %>
</p>

<p>
  <strong>Goalie:</strong>
  <%= @goal.goalie_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @goal.period %>
</p>

<p>
  <strong>Time:</strong>
  <%= @goal.time %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @goal.situation %>
</p>


<%= link_to 'Back', goals_path %>
